* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Playpen Sans", cursive;
}
body button{
    cursor: pointer;
}
.line{
    text-align: center;
}
.line img{
    width: 80%;
    filter: grayscale();
}
/* 832729 */
/* Navbar Start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f2e9e9; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 10px;
}
.brand-title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 900;
}
.navbar-links {
    display: flex;
}
.navbar-links ul {
    display: flex;
    list-style: none;
}
.navbar-links ul li {
    padding: 15px;
}
.navbar-links ul li a {
    color: #fff;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
}
.dropdown-content a {
    padding: 15px;
    color: #fff;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.toggle-button {
    display: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    cursor: pointer;
}
.nav-icons{
    text-align: right;
}
.nav-icons i{
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .toggle-button {
        display: block;
    }
    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .navbar-links.active {
        display: flex;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
        padding: 15px;
        width: 100%;
    }
    .navbar-links ul li a {
        display: block;
    }
    .nav-icons i{
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .brand-title {
        font-size: 1.2rem;
    }
    .navbar-links ul li {
        padding: 12px;
    }
    .nav-icons i{
        font-size: 15px;
    }
}
/* Navbar End */


/* Banner Start */
.banner img{
    width: 100%;
    height: 600px;
    filter: brightness(40%);
}
@media screen and (max-width: 768px) {
    .banner img{
        width: 100%;
        height: 400px;
        filter: brightness(40%);
    }
}

@media screen and (max-width: 320px) {
    .banner img{
        height: 300px;
        filter: brightness(40%);
    }
}
/* Banner End */



/* About Us Start */
.aboutus{
    padding: 2rem;
}
.aboutus-container{
    display: flex;
}
.aboutus-right{
    display: flex;
}
.aboutus-right img{
    margin: 5px;
    /* filter: brightness(50%); */
}
.aboutus-left{
    width: 70%;
    padding-top:6rem;
    padding-left: 2rem;
}
.aboutus-right{
    /* width: 50%; */
    padding: 3rem;
}
.about-top-btn button{
    letter-spacing: 2px;
    padding: 7px 15px;
    background-color: black;
    color: #fff;
    border: #fff 1px solid;
    font-size: 12px;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.aboutus-left h2{
    margin-bottom: 2rem;
}
.aboutus-left p{
    margin-bottom: 2rem;
}
.about-bottom-btn button{
    border: none;
    letter-spacing: 2px;
    background: none;
}
.radi-left img{
    border-radius: 10px 0 0 10px;
}
.radi-right img{
    border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 768px){
    .aboutus-container{
        display: block;
    }
    .aboutus-left{
        text-align: center;
        width: 100%;
    }
    .aboutus-right{
        width: 100%;
        margin-left: 4rem;
    }
}
@media screen and (max-width: 425px){
    .aboutus-left{
        text-align: center;
        padding: 0;
    } 
    .aboutus-right img{
        width: 30px;
    }
    .aboutus-right{
        margin-left: 0;
    }
}
/* About Us End */



/* Modertools Start */
.moderntools{
    padding: 2rem;
}
.moderntools-container{
    display: flex;
}
.moderntools-left img{
    width: 500px;
    border-radius: 5px;
}
.moderntools-right{
    margin-top: 4rem;
}
.moderntools-left{
    /* width: 50%; */
    padding: 2rem;
}
.moderntools-bottom-btn button{
    border: none;
    letter-spacing: 2px;
    background: none;
    margin-bottom: 2rem;
}
.moderntools-right h2{
    margin-bottom: 2rem;
}
.moderntools-right p{
    margin-bottom: 2rem;
}
.moderntools-top-btn button{
    letter-spacing: 2px;
    padding: 7px 15px;
    background-color: black;
    color: #fff;
    border: #fff 1px solid;
    font-size: 12px;
    border-radius: 20px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px){
    .moderntools-container{
        display: block;
    }
    .moderntools-right{
        text-align: center;
        width: 100%;
    }
    .moderntools-left{
        width: 100%;
    }
    .moderntools-left img{
        margin-left: 4rem;
    }
}
@media screen and (max-width: 425px){
    .moderntools-right{
        text-align: center;
    } 
    .moderntools-left img{
        width: 100%;
    }
    .moderntools-left img{
        margin-left: 0;
    }
}
/* Modertools End */




/* Services Start */
.services{
    padding: 3rem 0rem;
    background-color: rgb(247, 247, 247);
}
.services-content{
    display: flex;
    justify-content: space-evenly;
}
.services-txt{
    text-align: center;
}
.services-txt img{
    width: 120px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px){
    .services-content{
        display: flex;
        flex-direction: column;
    }
    .services-txt{
        text-align: center;
        margin-bottom: 3rem;
    }
    .services-txt img{
        width: 100px;
        margin-bottom: 1rem;
    }
}
/* Services End */




/* Deals Start */
.deals{
    background-image: linear-gradient(rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.616) ), url(/images/banner.jpg);
    background-repeat: no-repeat;
    height: 400px;
}
.deals-container{
    color: #fff;
    text-align: center;
    padding-top: 5rem;
}
.deals-container button{
    margin-bottom: 2rem;
    letter-spacing: 1px;
    background: none;
    color: #fff;
    padding: 10px;
}
.deals-container h2{
    margin-bottom: 2rem;
}
.deals-container p{
    padding: 0 3rem 0 3rem;
}
/* Deals End */