*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Playpen Sans", cursive;
}
body button{
    cursor: pointer;
}
.line{
    text-align: center;
}
.line img{
    width: 80%;
    filter: grayscale();
}
/* 832729 */
/* Navbar Start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f2e9e9; */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 10px;
}
.brand-title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 900;
}
.navbar-links {
    display: flex;
}
.navbar-links ul {
    display: flex;
    list-style: none;
}
.navbar-links ul li {
    padding: 15px;
}
.navbar-links ul li a {
    color: #fff;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
}
.dropdown-content a {
    padding: 15px;
    color: #fff;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.toggle-button {
    display: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    cursor: pointer;
}
.nav-icons{
    text-align: right;
}
.nav-icons i{
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .toggle-button {
        display: block;
    }
    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .navbar-links.active {
        display: flex;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
        padding: 15px;
        width: 100%;
    }
    .navbar-links ul li a {
        display: block;
    }
    .nav-icons i{
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    .brand-title {
        font-size: 1.2rem;
    }
    .navbar-links ul li {
        padding: 12px;
    }
    .nav-icons i{
        font-size: 15px;
    }
}
/* Navbar End */


/* About Us Start */
.aboutus{
    padding: 2rem;
    padding-top: 6rem;
}
.aboutus-container{
    display: flex;
}
.aboutus-left img{
    width: 500px;
    border-radius: 5px;
    /* background-attachment: fixed; */
}
.aboutus-right{
    margin-top: 4rem;
}
.aboutus-left{
    /* width: 50%; */
    padding: 2rem;
}
.aboutus-bottom-btn button{
    border: none;
    letter-spacing: 2px;
    background: none;
    margin-bottom: 2rem;
}
.aboutus-right h2{
    margin-bottom: 2rem;
}
.aboutus-right p{
    margin-bottom: 2rem;
}
.aboutus-top-btn button{
    letter-spacing: 2px;
    padding: 7px 15px;
    background-color: black;
    color: #fff;
    border: #fff 1px solid;
    font-size: 12px;
    border-radius: 20px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px){
    .aboutus-container{
        display: block;
    }
    .aboutus-right{
        text-align: center;
        width: 100%;
    }
    .aboutus-left{
        width: 100%;
    }
    .aboutus-left img{
        margin-left: 4rem;
    }
}
@media screen and (max-width: 425px){
    .aboutus-right{
        text-align: center;
    } 
    .aboutus-left img{
        width: 100%;
    }
    .aboutus-left img{
        margin-left: 0;
    }
}
/* About Us End */




/* Footer Start */
.footer{
    background-color: #111;
    padding: 2rem;
    color: #fff;
    margin-top: 1px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.company h3{
    margin-bottom: 1rem;
}
.footer-container ul li{
    list-style-type: none;
    margin-top: 1rem;
}
.newsletter h3{
    margin-bottom: 1rem;
}
.newsletter p{
    margin-bottom: 1rem;
}
.newsletter input{
    padding: 10px;
    border: none;
    border-radius: 7px 0 0 7px;
}
.newsletter button{
    padding: 10px;
    border: none;
    border-radius: 0 7px 7px 0;
}
.footer-container h3{
    font-size: 15px;
}
.footer-container ul li, p{
    font-size: 14px;
}

@media screen and (max-width: 768px){
    .footer-container{
        display: block;
        justify-content: space-around;
        text-align: center;
    }
    .compan, .policies, .newsletter, .knowus{
        margin-top: 4rem;
    }
}
@media screen and (max-width: 320px){
    .footer-container{
        display: block;
        justify-content: space-around;
        text-align: center;
    }
    .compan, .policies, .newsletter, .knowus{
        margin-top: 2rem;
    }
    .footer-container h3{
        font-size: 14px;
    }
    .footer-container ul li, p{
        font-size: 12px;
    }
}
/* Footer End */