* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Playpen Sans", cursive;
}
body button {
    cursor: pointer;
}



.necklaces {
    display: flex;
}
.necklaces-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    overflow-y: auto;
}
.necklaces-filter h3 {
    margin-bottom: 20px;
}
.necklaces-filter ul {
    list-style-type: none;
}
.necklaces-filter li {
    margin-bottom: 10px;
}
.necklaces-products {
    margin-left: 270px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.necklaces-child-product {
    flex: 1 1 calc(25% - 20px);
}
.necklaces-child-product img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}
.necklaces-filter ul li {
    font-size: 13px;    
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .necklaces-child-product {
        flex: 1 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 320px) {
    .necklaces-child-product {
        flex: 1 1 100%;
    }
}